{% extends 'layout.html' %}

{% block content %}

<div id="modal" class="modal-overlay">
  <div class="modal-window">
    <div class="title">
      <h2>다이어리 작성하기</h2>
    </div>
    <div class="close-area">X</div>
    <div class="content">
      <form action="/diary" method="post" id="diary-form">
        <header id="diary-header">
          <input type="date" id="diary-date" name="date" placeholder="날짜를 입력하세요">
          <input type="text" id="diary-category" name="catego" placeholder="카테고리를 입력하세요">
        </header>
        <section id="diary-section">
          <input type="text" id="diary-friends" name="friend" placeholder="같이 방문한 사람을 입력하세요">
          <input typ
          \e="text" id="diary-title" name="title" placeholder="제목을 입력해주세요">
          <input type="text" id="diary-comment" name="comment" placeholder="코멘트를 남겨주세요">
        </section>
        <button id="diary-btn" type="submit">제출하기</button>
      </form>

    </div>
  </div>
</div>

<section id="jb-content">
  <article class="map_search">
    <input type="text" placeholder="장소를 검색하세요" id="place_search">
    <button id="search_button">검색</button>
  </article>
  <article class="map_map" id="map_map">
    <div id="map"></div>
  </article>
</section>

{% endblock %}