<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>Kaya</title>
  <link rel="stylesheet" href="/main2.css">
</head>

<body>
  <div id="jb-container">
    <div id="jb-header">
      <h1>Kaya Diary Project</h1>
    </div>

    <div id="modal" class="modal-overlay">
      <div class="modal-window">
        <div class="title">
          <h2>모달</h2>
        </div>
        <div class="close-area">X</div>
        <div class="content">
          <p>가나다라마바사 아자차카타파하</p>
          <p>가나다라마바사 아자차카타파하</p>
          <p>가나다라마바사 아자차카타파하</p>
          <p>가나다라마바사 아자차카타파하</p>

        </div>
      </div>
    </div>

    <section id="jb-content">
      <article class="map_search">
        <input type="text" placeholder="장소를 검색하세요" id="place_search">
        <button id="search_button">검색</button>
      </article>
      <article class="map_map" id="map_map">
        <div id="map"></div>
      </article>
    </section>
    <section id="jb-sidebar">
      <h2>다이어리 목록</h2>
      <section class="diary_search">
        <button class="sort_location">지역별</button>
        <button class="sort_date">날짜별</button>
        <article class="diary_list">다이어리 목록</article>
      </section>
    </section>
    <footer id="jb-footer">
      <p>Copyright Groovy</p>
    </footer>
  </div>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9d2920e9898e2a4a8c8002ee3cd2ac29&libraries=services"></script>
  <script src="/main.js"></script>
</body>

</html>