<!-- 현재 주소는 localhost:1202/modify/:id-->

{% extends 'layout.html' %}

{% block content %}
<form action="/modify/{{diary_selected.id}}/complete" class="diary-modify-form" method="post">
  <section id="jb-content">
    <div class="modi-diary-box">
      <header class="modi-diary-header">
        <input class="modi-diary-title" type="text" value="{{diary_selected.title}}" name="title">
        <div class="modi-date-cate">
          <input type="date" class="modi-diary-date" value="{{diary_selected.date}}" name="date">
          <input type="text" class="modi-diary-cate" value="{{diary_selected.category}}" name="catego">
        </div>
      </header>
      <div class="modi-line"></div>
      <input type="text" class="modi-diary-friends" value="{{diary_selected.friends}}" name="friend">
      <div class="modi-line"></div>
      <input type="text" class="modi-diary-content" value="{{diary_selected.comment}}" name="comment">
    </div>
    <div class="diary-btns">
      <button id="modify-btn" type="submit" class="modi-modify-btn">완료하기</button>  
    </div>
  </section>
</form>
{% endblock %}