:root {
  --font-size-large: 20px;
  --font-size-middle: 16px;
  --font-size-small: 12px;

  --color-main: #00251a;
  --color-map: #39796b;
  --colot-diary: #004d40;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}


#jb-container {
  width: 940px;
  margin: 0px auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #bcbcbc;
}

#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#modal .modal-window {
  background: rgba(69, 139, 197, 0.70);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 400px;
  height: 500px;
  position: relative;
  top: -100px;
  padding: 10px;
}

#modal .title {
  padding-left: 10px;
  display: inline;
  text-shadow: 1px 1px 2px gray;
  color: white;

}

#modal .title h2 {
  display: inline;
}

#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#modal .content {
  margin-top: 20px;
  padding: 0px 10px;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

#diary-form {
  border: solid 1px gray;
  padding: 10px;
}

#diary-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#diary-section {
  display: box;
  margin: auto;
}

#diary-friends {
  width: 350px;
  margin-bottom: 10px;
}

#diary-comment {
  width: 350px;
  height: 250px;
  margin-bottom: 10px;
}

.map_search {
  width: 300px;
  padding-left: 15px;
  margin-bottom: 10px;
}

#map {
  display: block;
  margin: auto;
  width: 520px;
  height: 400px;
  padding: 10px;
}

#jb-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #bcbcbc;
}

.header-icon i {
  font-size: 25px;
}

a:link {
  color: #513926;
}

a:visited {
  color: #513926;
}

a:hover {
  color: #7F593C;
}

#jb-content {
  width: 540px;
  padding: 20px;
  margin-bottom: 10px;
  float: left;
  border: 1px solid #bcbcbc;
}

.diary-box {
  height: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.diary-header, .diary-friends, .diary-content {
  padding: 5px;
  margin: 10px;
}

.diary-friends, .diary-content {
  width: 480px;
  border-top: 1px solid gray;
}

.diary-date {
  margin-right: 20px;
}

.diary-btns {
  display: flex;
  flex-direction: row-reverse;
}

.delete-btn, .modify-btn {
  margin-left: 10px;
  padding-top: 10px;
}

#jb-sidebar {
  width: 300px;
  height: 450px;
  padding: 10px;
  margin-bottom: 20px;
  float: right;
  border: 1px solid #bcbcbc;
}

.diary_search {
  height: 400px;
  overflow: auto;
}

#diary-list {
  border: solid 1px gray;
  padding: 5px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diary_list_title {
  width: 250px;
}

.diary_list_btn {
  width: 50px;
  height: 20px;
}

#jb-footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}